<%= form_for @post do |f| %>
  <div class="postFormTitle">
    Title:<%= f.text_field :title %><br>
  </div>
  <div class="postFormTitle">
    Content:<%= f.text_area :content, cols:'50', rows:'10' %><br>
  </div>
  <div class="postFormSubmit">
    <%= f.submit class:"inPostFormSubmit" %>
  </div>
<% end %>