<%= form_tag userlogin_path do %>
  <label>Enter username:</label><br>
  <%= text_field_tag :'username' %><br>

  <label>Enter password:</label><br>
  <%= text_field_tag :'password' %><br>
 
  <%= submit_tag "Log In" %>
<% end %>