@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:800&display=swap');

.index-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bookshelf-svg {
  grid-area: 1 / 1 / 4 / 2;
  margin-left: 70px;
}

.books {
  grid-area: 1 / 1 / 4 / 2;
  margin-left: 70px;
  margin-top: 60px;
  opacity: 80%;
  // -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  // mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.book-img {
  width: 80%;
  border-radius: 30px;
}

.novel {
  grid-area: 1 / 2 / 2 / 3;
}

.ideas {
  grid-area: 2 / 2 / 3 / 3;

}

.novel, .ideas {
  display: flex;
  margin: auto;
  margin-left: 0px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 8em;
  margin-top: 75px;
  letter-spacing: 0.3em;
}