:root {
  --header-color: #A3A838;
  --post-color: #AA7939;
  --text-color: rgb(65, 55, 11)
}

.postOuterContainer{
  margin: 0;
  display: flex;
  justify-content: center;
  
}

.postInnerContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.post {
  border: 2px solid black;
  margin-bottom: 10px;
  a {
    text-decoration: none; 
    color: var(--text-color);
  }
}
.postHeading {
  margin: 0;
  border-bottom: 2px solid black;
  background-color: var(--header-color);
  font-size: 1.5rem;
}

.postHeading, .newPost, .deleteLink, .editLink, .commentLink{
  text-align: center;
  padding: 6px;
}

.newPost, .deleteLink, .editLink , .commentLink{
  border: 2px solid black;
  font-size: 1.3rem;
  border-radius: 8px;
  background-color: var(--text-color);
  a {
    color: var(--header-color);
    text-decoration: none;
    text-transform: uppercase;
  }
}

a.deleteLink, a.editLink, a.commentLink {
  color: var(--header-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  margin: auto;
}

.postIndexPublished, .postIndexBy, .postIndexComments, .postContent, .commentLink {
  margin: 0;
  background-color: var(--post-color);
  text-align: center;
}

.postContent {
  font-size: 1.3rem;
  padding: 18px;
  margin-bottom: 12px;
}

.buttons {
  text-align: center;
  margin-bottom: 18px;
}

.userButtons {
  margin-bottom: 22px;
}

a.commentLink {
  background-color: var(--text-color);;
  color: var(--header-color);
  margin-bottom: 12px;
}


// Forum Forms

// innerPostForm
// outerPostForm
// postFormTitle
// postFormContent
// postFormHeader
// postFormCancel
// postFormSubmit

.outerPostForm {
  display: flex;
  justify-content: center;
}

.innerPostForm {
  border: 2px solid black;
  text-align: center;
  input, textarea {
    width: 95%;
    overflow: auto;
  }
  textarea{
    margin-bottom: 4px;
  }
}

.postFormHeader {
  font-size: 1.5rem;
  border-bottom: 2px solid black;
  margin: 0;
  background-color: var(--header-color);
  color: var(--text-color);
}

.postFormTitle, .postFormContent {
  background-color: var(--post-color);
  color: black;
}

.postFormTitle {
  padding-top: 3px;
}
