@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

:root {
  --header-color: #116f17;
  // --header-color: #9fd737;
  --post-color: #5b491a;
  --text-color: #272727;
  // --postText1-color: #ddeffd;
  --postText1-color: black;
  // --postText2-color: black;
  --postText3-color: #ffebeb;
  --postText2-color: #ddeffd;
  // --postText2-color: #cafccc;
  --slate: #272727;
}

.postOuterContainer{
  margin: 0;
  display: flex;
  justify-content: center;
  
}

.postInnerContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.post {
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: 'Gotu', sans-serif;
  a {
    text-decoration: none; 
    color: var(--postText1-color);
  }
}
.postHeading {
  margin: 0;
  border-bottom: 2px solid black;
  background-color: var(--header-color);
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.1rem;
  text-decoration: underline;
}

.postHeading, .newPost, .deleteLink, .editLink, .commentLink{
  text-align: center;
  padding: 6px;
}

.newPost, .deleteLink, .editLink , .commentLink{
  border: 2px solid black;
  font-size: 1.3rem;
  border-radius: 8px;
  background-color: var(--postText2-color);
  a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.newPost {
  // background-color: #383838;
  background-color: var(--postText2-color);
}

a.deleteLink, a.editLink, a.commentLink {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  margin: auto;
}

.postIndexPublished, .postIndexBy, .postIndexComments, .postContent, .commentLink {
  margin: 0;
  background-color: var(--post-color);
  //#postText-color
  color: var(--postText2-color);
  text-align: center;
}

.postContent {
  font-size: 1.3rem;
  padding: 18px;
  margin-bottom: 12px;
}

.buttons {
  text-align: center;
  margin-bottom: 18px;
}

.userButtons {
  margin-bottom: 22px;
}

a.commentLink {
  background-color: var(--postText2-color);
  color: black;
  margin-bottom: 12px;
}


// Forum Forms

// innerPostForm
// outerPostForm
// postFormTitle
// postFormContent
// postFormHeader
// postFormCancel
// postFormSubmit

.outerPostForm {
  display: flex;
  justify-content: center;
}

.innerPostForm {
  border: 2px solid black;
  text-align: center;
  input, textarea {
    width: 95%;
    overflow: auto;
  }
  textarea{
    margin-bottom: 4px;
  }
}

.postFormHeader {
  font-size: 1.5rem;
  border-bottom: 2px solid black;
  margin: 0;
  background-color: var(--header-color);
  color: var(--text-color);
}

.postFormTitle, .postFormContent {
  background-color: var(--post-color);
  color: black;
}

.postFormTitle {
  padding-top: 3px;
}


// comments

.comment{
  margin-left: 10%;
}

.noUnderline {
  text-decoration: none;
}

.username{
  padding: 0px 2px;
  border: 1px dashed black;
  font-size: 0.8rem;
}